body {
  max-inline-size: 1200px;
  text-align: center;
  padding-inline: 16px;
  margin: 0 auto 16px;
}

h1 {
  border-block-end: 1px solid;
  padding-block: 8px;
  margin-block: 0;
}

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1ch;
  margin-block: 16px;
}

button {
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: scale 0.2s ease-in-out;

  &.active {
    background-color: CanvasText;
    color: Canvas;
  }

  &:hover {
    scale: 1.05;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 225px);
  justify-content: center;
  gap: 16px;
  margin-block-start: 16px;
}

.card {
  --accent: light-dark(#d9d9d9, #2b2d42);
  --border-radius: 8px;
  background-color: var(--accent);
  box-shadow: 0 0 2px 2px var(--accent);
  border-radius: var(--border-radius);
  padding-block-end: 16px;

  div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    button {
      background-color: transparent;
      filter: brightness(150%);

      &.favourite {
        filter: drop-shadow(0 0 2px #e3534f);
      }
    }
  }

  img {
    display: block;
    object-fit: cover;
    inline-size: 100%;
    block-size: 200px;
    border-start-start-radius: var(--border-radius);
    border-start-end-radius: var(--border-radius);
  }

  h2,
  p,
  button {
    font-size: 1.25rem;
  }

  p {
    margin-block: 0;
  }
}